<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Kraken File Management System</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Kraken File Management System</a>
    </nav>
    <main role="main" class="container">
      <div class="row">
        <div class="col-12">
          <h1>File Management System</h1>
          <div id="root"></div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        <p>Martí Planellas - 2018</p>
      </div>
    </footer>
    <script type="text/javascript">
      var __PRELOADED_STATE__ = {
        files: {
          csrfToken: '<%=csrfToken%>',
          files: <%-JSON.stringify(files)%>
        }
      };
    </script>
    <script src="/javascript/bundle.js" charset="utf-8"></script>
  </body>
</html>
